@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*HEADER*/
#header__container {
    background-color: #181717;
    min-height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.options {
    position: relative;
    padding-right: 30px;
}

.options a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.options a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #07e69b;
    transition: width 0.4s ease;
}

#nahuel_name {
    color: white;
    margin-left: 30px;
    justify-content: flex-start;
    text-align: center;
    transition: color 0.3s ease;
}

#nahuel_name h3 {
    font-size: 30px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

#nahuel_name span {
    color: #07e69b;
    text-shadow: #07e69b 0px 0px 2px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/*BUBBLES*/
.bubbles__container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #07e69b;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #1d8f69,
                0 0 50px #07e69b,
                0 0 100px #07e69b;
    animation: animate 15s linear infinite;
    animation-duration: calc(250s / var(--i));
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.bubbles span:nth-child(even) {
    background: #ffffff;
    box-shadow: 0 0 0 10px #b9b9b9,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
}

/*PRESENTATION*/
#presentation {
    display: flex;
    justify-content: center;
}

.presentation__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    padding-left: 50px;
    width: 80%;
}

.presentation__info h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1.5;
    transition: color 0.3s ease;
}

.presentation__info h3 {
    color: #07e69b;
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 10px;
}

.presentation__info p {
    color: white;
    line-height: 1.6;
    transition: color 0.3s ease;
}

/*BUTTONS*/
.buttons {
    margin-top: 30px;
}

.buttons a {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 800;
    color: #181717;
    padding: 15px 20px;
    width: 150px;
    height: 100%;
    background: #07e69b;
    border: 2px solid #07e69b;
    border-radius: 8px;
    transition: background 0.4s ease, color 0.4s ease;
}

.buttons a:nth-child(2) {
    background: transparent;
    color: #07e69b;
}

.buttons a:nth-child(2):hover {
    background: #07e69b;
    color: #181717;
}

.buttons a:nth-child(1):hover {
    background: transparent;
    color: #07e69b;
}

/*HOOVERS HEADER*/
#nahuel_name span:hover {
    color: #07e69b;
    text-shadow: #07e69b 0px 0px 15px;
    cursor: pointer;
}

.options a:hover::after {
    width: 100%;
}

.options a:hover {
    color: #07e69b;
}

/*BUBBLES ANIMATION*/
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-20vh);
        scale: 1;
    }
}


/* LIGHT MODE STYLES */
body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

body.light-mode #header__container {
    background-color: #ffffff;
}

body.light-mode .options a {
    color: #333;
}

body.light-mode #nahuel_name {
    color: #333;
}

body.light-mode .presentation__info h1 {
    color: #333; /* Cambia el color del h1 a negro en modo claro */
}

body.light-mode .presentation__info p {
    color: #333; /* Cambia el color del párrafo a negro en modo claro */
}

body.light-mode .bubbles span {
    background: #333;
    box-shadow: 0 0 0 10px #666,
                0 0 50px #333,
                0 0 100px #333;
}

body.light-mode .bubbles span:nth-child(even) {
    background: #000;
    box-shadow: 0 0 0 10px #333,
                0 0 50px #000,
                0 0 100px #000;
}

body.light-mode .buttons a {
    color: #f4f4f4;
}

body.light-mode .buttons a:nth-child(2) {
    color: #333;
}

body.light-mode .buttons a:nth-child(2):hover {
    background: #333;
    color: #f4f4f4;
}

body.light-mode .buttons a:nth-child(1):hover {
    background: #333;
    color: #f4f4f4;
}

/* DARK MODE STYLES */
body.dark-mode {
    background-color: #181717;
    color: #f4f4f4;
}

body.dark-mode #header__container {
    background-color: #181717;
}


body.dark-mode .options a {
    color: #f4f4f4;
}

body.dark-mode #nahuel_name {
    color: #f4f4f4;
}

body.dark-mode .presentation__info h1 {
    color: #f4f4f4;
}

body.dark-mode .presentation__info p {
    color: #f4f4f4;
}

body.dark-mode .bubbles span {
    background: #07e69b;
    box-shadow: 0 0 0 10px #1d8f69,
                0 0 50px #07e69b,
                0 0 100px #07e69b;
}

body.dark-mode .bubbles span:nth-child(even) {
    background: #ffffff;
    box-shadow: 0 0 0 10px #b9b9b9,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
}

body.dark-mode .buttons a {
    color: #181717;
}

body.dark-mode .buttons a:nth-child(2) {
    color: #07e69b;
}

body.dark-mode .buttons a:nth-child(2):hover {
    background: #07e69b;
    color: #181717;
}

body.dark-mode .buttons a:nth-child(1):hover {
    background: #07e69b;
    color: #181717;
}
